body, html{
  padding: 0;
  margin: 0;
  font-family: 'lato', sans-serif;
}
.navbar-inverse{
  border-radius: 0;
}

.float-right{
  float: right;
  position: relative;
  top: 8px;
}

.logout{
  float: right;
  position: relative;
  top: 14px;
  color: white;
}

.logout:hover{
  color: #adadad;
  text-decoration: none;
}

#content{
  .register-form{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 25px 25px 0px 25px;
    border: 1px solid #e2e1e4;
    min-height: 100px;
  }

  .login-form{
    .register-form;
  }
}

.register-title{
  background-color: #f7f7f7;
  border: 1px solid #e2e1e4;
  padding: 10px 0px 10px 25px;
}

.login-title{
  .register-title;
}